
.categorylist{
    margin: 30px 0px 60px;
    display: flex;
    flex-wrap:wrap ;
    gap: 20px;
}
.categoryItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 10px;
}

.travel{
    background-color: #ff7857;
}
.culture{
    background-color: #ffb14f;

}
.food{
    background-color: #7fb881;

}
.fashion{
    background-color: #ff7887;

}
.coding{
    background-color: lightsalmon;
}
.style{
    background-color: lightpink;
}
.title{
font-size: 28px;
}